<form class='hidden-print'>
  <input type="button" value="Print this page" onClick="window.print()">
</form>

<div class="text-center">
  <address>
    <strong>Nick Reedy</strong>
    <br />
    9663 South Candle Tree Ln
    <br />
    Sandy, Utah 84092
    <br />
    (801)-739-2312
    <br />
    reedy85@gmail.com
  </address>
</div>

<h4><%= Date.today.strftime("%B %e, %Y") %></h4>

<h1>Dear <%= @lead.heir %></h1>

<p>Hello, my name is Nick and I would like to offer my condolences on
the passing of <%= @lead.parcel.owner_pretty %>. I too have lost loved ones and know how difficult this can be.

  It is my understanding, through the Salt Lake County recorders office, the property located at <%= @lead.parcel.address %> may be available to purchase. I’m sure at this time selling this property is probably not a priority for your family, but if in the near future you decide to sell, please call me and allow me the opportunity to make you an offer.
</p>
<hr />
<strong>Many people choose to sell to me for the following reasons:</strong>

<ul>
  <li>You pay no realtor commissions, closing costs or title fees</li>
  <li>I buy the property in “as is” condition, no repairs required</li>
  <li>Your tenants don’t have to move, I can be flexible and discrete</li>
  <li>I can close in as little as 24 hours or at your convenience</li>
</ul>
<hr />

<p class='lead'>While I do not know your particular situation, I am prepared to do what is best for you and the estate. Feel free to call me with any questions. <strong>(801)-739-2312</strong>.  <small>If unavailable please call Tim at (801) 651-3060.</small></p>


<p>My warmest regards,</p>


<address>
  <strong>Nick Reedy</strong>
  <br>
  (801)-739-2312
</address>


<p>PS.  I can usually pay the same or even more than what you would make if you listed with a realtor and paid commissions, repairs, closing costs and title fees.</p>